body{
  padding: 0px;
  margin: 0px;
  font-family: arial ,helvetica, sans-serif;
  color: white;
  background: #2d3142;
}
.content{
  width: 60%;
  margin: auto;
  text-align: center;
}
.strip{
  width: 60%;
  margin: auto;
  padding: 24px;
  background-color: black;
  color: white;
  border-radius: 4px;
  letter-spacing: 1px;
  opacity: 1;
  transition: opacity .8s;
}
.closebtn{
  color: white;
  float: right;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}
